<form [formGroup]="taskForm" (ngSubmit)="submit()">
    <label for="title">Title</label>
    <input formControlName="title" type="text">
    <small *ngIf="taskForm.controls.title.invalid && taskForm.controls.title.touched">
        {{taskForm.controls.title.errors | json}}
    </small>

    <label for="description">Description</label>
    <textarea formControlName="description"></textarea>

    <label for="importance">Importance</label>
    <select formControlName="importance">
        <option value="'low'">Low</option>
        <option value="normal">Normal</option>
        <option value="high">High</option>
    </select>
    {{taskForm.controls.importance.errors | json}}
    <label for="dueDate">Due date</label>
    <input formControlName="dueDate" type="date" />
    <label for="done">Done</label>
    <input formControlName="done" type="checkbox">

    <div formGroupName="asignee">
        <h2>Asignee</h2>
        <label>First name</label>
        <input formControlName="firstName">

        <label>Last name</label>
        <input formControlName="lastName">
    </div>

    <ul formArrayName="subscribers">
        <li *ngFor="let subscriber of subscribers.controls; let index = index">
            <label>Subscriber email</label>
            <input type="email" [formControlName]="index">
            <small *ngIf="subscriber.invalid">
                {{subscriber.errors | json}}
            </small>
        </li>
    </ul>
    <button type="button" (click)="addSubscriber()">Add subscriber</button>

    <button type="submit" [disabled]="taskForm.invalid">Submit</button>
</form>

<div style="width: 100%;">
    {{taskForm.value | json}}
    {{taskForm.valid | json}}
</div>