<div class="search">
    <mat-form-field>
        <input matInput #searchInput type="text" placeholder="Search" (keyup)="searchFor(searchInput.value)">
    </mat-form-field>
</div>
<div class="">
    <a routerLink="/add">Add Task</a>
</div>
<div class="task" [class]="task.importance" *ngFor="let task of tasks" [routerLink]="['/edit', task.id]">
    <div class="header">
        <div class="title">{{task.title}}</div>
        <div class="dueDate">{{task.dueDate | date}}</div>
    </div>
    <div class="description">{{task.description}}</div>
</div>